.container {
    display:flex;
}
.header_wrapper{
    background-color: #d9cdcd;
}
.messages_container {
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    width: 500px;
    height: 33px;
    border: 1px solid #6c6161;
}

.message_wrapper{
    display: flex;
    width: 600px;
}

.message {
    background: #f3f3f3;
    padding: 8px;
}

.message_title{
    display: flex;
    background: #f3f3f3;

    width: 500px;
    justify-content: space-between;
}



.buttons{
    padding: 15px 15px 10px;

    display: flex;
}

.chats_wrapper{
    padding: 0 15px;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.searchInput{
    padding: 0 20px 20px;
}