.container {
    display:flex;
    color: #aeafaf;
}
.header_wrapper{
    background-color: #ecedf1;
}
.messages_container {
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messagesHeader{

}

.input {
    width: 500px;
    height: 33px;
    border: 1px solid #6c6161;
}
.messages_wrapper{
    display: flex;
    width: 600px;
}

.messages{
    background-color: #f4f5f9;
}
.messages_text {
    padding: 8px 15px 15px;
}

.messages_title{
    display: flex;
    justify-content: space-between;

    padding: 15px 15px 0;
    width: 500px;
}



.buttons{
    padding: 15px 15px 10px;

    display: flex;
}

.chats_wrapper{
    padding: 0 15px;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.searchInput{
    padding: 0 20px 20px;
}