.container {
    display: flex;
    justify-content: center;
    height: 530px;
    margin: 0 auto;
}

.menu_list {
    background-color: #4a4e59;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menu_list_link {
    margin: 0 0 0 8px;
}

.menu_list li {
    padding: 10px;
    margin: 5px 0;

    display: flex;
    align-items: center;

    font-weight: 600;
    color: white;
    fill: white;
}

.menu_list .menu_list_linkAct {
    color: #18a2b8;
    fill: #18a2b8;
    border-left: 4px solid #18a2b8;
    padding-left: 6px;

    background-color: #373a43;
}

.menu_list li:active {
    color: #18a2b8;
    fill: #18a2b8;
    border-left: 4px solid #18a2b8;
    padding-left: 6px;

    background-color: #373a43;
}


.logo {
    width: 25px;
    height: 25px;
}

